<%= form_for(@user) do |f| %>

  <div>
    <%= f.label :username %>
  </div>
  <div>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :about %>
  </div>
  <div>
    <%= f.text_field :about %>
  </div>
  <div>
    <%= f.label :password %>
  </div>
  <div>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
  </div>
  <div>
    <%= f.password_field :password_confirmation %>
  </div>
  <br>
  <div>
    <%= f.submit "Update User" %>
  </div>

<% end %>
